{% extends 'base.html' %}

{% block content %}
        <h2> Ferramenta Estatistica de Apoio á Politicas Públicas.</h2>
        
	<center> Este formulário é um trabalho colaborativo do Projeto Integrador1 de Estudantes de Computação da UNIVESP (Polo Marília_SP) e destina-se a dar suporte a registros de violência doméstica a instituições públicas que prestam primeiro atendimento a vulneráveis, e sem aparato estatistico ou informacional nestes casos. Convém citar a importância do registro público oficial (Boletim de Ocorrência Policial) para casos mais graves. 
		</center>
		
{% endblock %}
